
.clockcontainer {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: space-around;
	align-content: space-around;
	grid-gap: 0.5em;
	padding-top: 1em;
}

s-card {
	align-self: top;
	align-self: center;
	justify-self: center;
}

s-quote {
	align-self: top;
	justify-self: center;
	height: auto;
	width: auto;
}
s-clock {
	width: 800px;
	height: auto;
	align-self: center;
	justify-self: center;
}
s-avatar { 
	align-self: center;
	justify-self: center;
}
s-tab {
	justify-content: center;
	justify-self: center;
}
.container {
	width: 800px;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: space-around;
	align-content: space-around;
	grid-gap: 0.5em;
	padding-top: 1em;
}


@media (max-width: 900px) {
	.clockcontainer {
		 grid-template-columns: 1fr;
	}
}
